body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--grey);
}


#footy_navbar .container-fluid{
    background-image: url(../images/box_background.jpg);
}
#home_section .home_icons i{
    border: 1px solid var(--green);
    color: var(--green);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
#home_section .image_background{
    background-color: white;
}
